
body {
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-page p {
  color: yellow;
  font-size: 60px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive;
}

.rigo-baby {
  border-radius: 5px;
}

/* Button Styles */
button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff; /* Primary color - you can change this to your preferred color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
  background-color: #013b7a; /* Darker shade for hover effect */
}

/* Optional: Add some box shadow for a subtle 3D effect */
button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Optional: If you want the button to be full-width on small screens */
@media (max-width: 767px) {
  button {
    width: 100%;
  }
}

.fixed-bottom {
  color: aqua;
}